@font-face {
  font-family: 'Unbounded';
  font-style: normal;
  font-weight: 500;
  src:
    url('/fonts/unbounded-500-normal-cyrillic.woff2') format('woff2'),
    url('/fonts/unbounded-500-normal-cyrillicext.woff2') format('woff2'),
    url('/fonts/unbounded-500-normal-latin.woff2') format('woff2'),
    url('/fonts/unbounded-500-normal-latinext.woff2') format('woff2'),
    url('/fonts/unbounded-500-normal-vietnamese.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Unbounded';
  font-style: normal;
  font-weight: 600;
  src:
    url('/fonts/unbounded-600-normal-cyrillic.woff2') format('woff2'),
    url('/fonts/unbounded-600-normal-cyrillicext.woff2') format('woff2'),
    url('/fonts/unbounded-600-normal-latin.woff2') format('woff2'),
    url('/fonts/unbounded-600-normal-latinext.woff2') format('woff2'),
    url('/fonts/unbounded-600-normal-vietnamese.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Unbounded';
  font-style: normal;
  font-weight: 700;
  src:
    url('/fonts/unbounded-700-normal-cyrillic.woff2') format('woff2'),
    url('/fonts/unbounded-700-normal-cyrillicext.woff2') format('woff2'),
    url('/fonts/unbounded-700-normal-latin.woff2') format('woff2'),
    url('/fonts/unbounded-700-normal-latinext.woff2') format('woff2'),
    url('/fonts/unbounded-700-normal-vietnamese.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Unbounded';
  font-style: normal;
  font-weight: 800;
  src:
    url('/fonts/unbounded-800-normal-cyrillic.woff2') format('woff2'),
    url('/fonts/unbounded-800-normal-cyrillicext.woff2') format('woff2'),
    url('/fonts/unbounded-800-normal-latin.woff2') format('woff2'),
    url('/fonts/unbounded-800-normal-latinext.woff2') format('woff2'),
    url('/fonts/unbounded-800-normal-vietnamese.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Unbounded';
  font-style: normal;
  font-weight: 900;
  src:
    url('/fonts/unbounded-900-normal-cyrillic.woff2') format('woff2'),
    url('/fonts/unbounded-900-normal-cyrillicext.woff2') format('woff2'),
    url('/fonts/unbounded-900-normal-latin.woff2') format('woff2'),
    url('/fonts/unbounded-900-normal-latinext.woff2') format('woff2'),
    url('/fonts/unbounded-900-normal-vietnamese.woff2') format('woff2');
  font-display: swap;
}

